<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %> 
    <title>Admin Portal</title>

    <body>
        <!-- Header -->
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <h2>Hello, <%= username %>!</h2>

            </div>
        </div>
        <!-- Create Code Journal -->
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <form method="GET" action="/admin/editor">
                    <card class="card text-center" style="width: 20rem;">
                        <div class="card-body">
                            <h4 class="mb-3">Create Code Journal</h4>
                            <button type="submit" class="btn btn-primary">Go to Journal Editor</button>
                        </div>
                    </card>
                </form>
            </div>
        </div>
    </body>
</html>