<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %> 
    <title>Admin Portal</title>

    <body>
        <h3>Admin Portal</h3>

        <p>List all journals</p>
    </body>
</html>